@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/_reboot";

/* variables */

$primary: #f72210;
$body-bg: #f4f5f6;
$red-color: #ff0600;
$roboto: "Roboto Condensed", sans-serif;

/* mixins */

@mixin section-title {
  font-family: $roboto;
  font-weight: 900;
}

/* global */

body {
  overflow-x: hidden;
}

body a {
  color: inherit;
  text-decoration: none;
}

body h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;

  @include section-title;
}

body h5 {
  color: #000;
  font-size: 0.9rem;
  font-weight: bolder;
}

body h4 {
  color: #000;
  font-size: 1.3rem;
  font-weight: bolder;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover {
  color: #000;
  text-decoration: underline $red-color;
}

ul li {
  padding-left: 0;
}

.container-fluid {
  max-width: 1310px;
  background-color: #fff;
}

.block-title {
  @include section-title;
}

/* Mobile navbar */

.mobile-navbar .mobile-header {
  background: $red-color;
  height: 3rem;
}

.mobile-navbar .nw-logo {
  width: 132px;
  height: 20px;
}

.mobile-navbar .navbar-collapse {
  background: #fff;
  width: 220px;
}

.mobile-navbar .login-btn,
.mobile-navbar .navbar-toggler {
  color: #fff;
  opacity: 0.75;
  font-size: 1rem;
}

.mobile-navbar .subsc-btn {
  @include section-title;

  font-size: 0.6rem;
  background-color: #ffe400;
  height: 24px;
}

/* Main section */

.opinion-author {
  font-size: 0.8rem;
}

.top-title {
  color: #000;
}

.summary {
  font-size: 0.8rem;
}

.story-category {
  background-color: #fff;
  opacity: 0.85;
  color: $red-color;
  padding: 0.25rem 0.75rem;
}

.sponsored-category {
  @extend .story-category;

  color: #3581f4;
}

//trying navbar

.nav-container {
  background-color: #f72210;
}

.lastNav {
  max-width: 80%;
  margin: 0;
}

.firsttNav,
.lastNav li:first-child {
  color: #000;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

.firsttNav {
  margin-top: 1.5rem;
  max-width: 95%;
}

.firsttNav li input {
  width: 5rem;
  border: none;
  margin-left: 1rem;
}

.firsttNav li i {
  margin: 0;
  padding: 0;
}

/* vs decoration */

.vs-container {
  position: relative;
}

.vs-container hr {
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
  z-index: 1;
}

.vs-container .vs-icon {
  position: absolute;
  z-index: 10;
  left: 45%;
  top: -14px;
  border-radius: 50%;
  padding: 3px;
  color: #fff;
  background-color: #000;
}

.bottom {
  margin-top: 5rem; // only while developing, don't forget to remove this later
}

/* N in the Magazine */

.magazine .n-icon,
.editor .n-icon {
  display: block;
  width: 29px;
  height: 28px;
  background-image: url("https://g.newsweek.com/www/images/logo-n1.svg");
  background-color: $red-color;
  background-size: contain;
  margin-right: 8px;
}

.magazine .december {
  padding: 0.25rem 0.75rem;
  background-color: #fceaea;
  color: $red-color;
  font-size: 0.85rem;
}

.magazine .see-features {
  background-color: #f4f5f6;
}

.magazine .red-category {
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  background-color: $red-color;
  color: #fff;
}

.magazine .white-category {
  margin-right: 1rem;
  padding: 0 0.5rem;
  background-color: #fff;
  color: $red-color;
}

/* editor's pick */

.editor .editor-category {
  background-color: #fff;
  opacity: 0.75;
  color: $red-color;
  padding: 0.25rem 0.75rem;
}

/* picks */

.picks .picks-title {
  color: $red-color;
  font-size: 1.3rem;
  border-top: 1px solid #d9d9d9;
}

/* subscribe cards */

.subscribe-cards .card {
  background-color: $body-bg;
}

.subscribe-cards .block-title {
  color: $red-color;
}

.subscribe-cards .overlapping-container {
  position: relative;
  padding-right: 80px;
}

.subscribe-cards .top-cover {
  position: absolute;
  top: 14px;
  left: 85px;
}

.subscribe-cards .newsletter-card {
  border: 1px solid #d9d9d9;
}

.newsletter-card .newsletter-img {
  background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&amp;h=265&amp;q=90&amp;f=742bce9a6f72dd8f19ba2e7fd5db06e5");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  height: 150px;
  @media only screen and (min-width: 768px) {
    background-position: center;
    height: 221px;
    width: 100%;
    padding-right: 5px;
  }
  @media only screen and (min-width: 1024px) {
    background-position: center;
    height: 339px;
    width: 100%;
    padding-right: 5px;
  }
}

.newsletter-card .info {
  padding-top: 12px;
}

.newsletter-card .card-title {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    text-transform: uppercase;
    font-size: 1.3rem;
  } 
}

.newsletter-form .signup-btn {
  font-size: 0.7rem;
  margin: 0.3rem 0.1rem;
}

/* footer */
footer {
  margin-top: 2px;
  color: #666;
  font-size: 0.75rem;
}

.footer-top .bottom-logo {
  width: 236px;
}

.footer-links {
  font-size: 0.8rem;
  border-top: 1px solid #d9d9d9;
  padding: 0.8rem 0 2rem 0;
}

.footer-links .about-link {
  list-style: none;
  padding: 0 0.5rem;

  @media only screen and (min-width: 768px) {
    border-right: 1px solid #d9d9d9;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
