@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/_reboot";


/* variables */ 

$body-bg: #f4f5f6;
$red-color: #ff0500;
$roboto: "Roboto Condensed",sans-serif;

/* mixins */

@mixin section-title {
    font-family: $roboto;
    font-weight: 900;
}

/* global */

body {
    overflow-x: hidden;
}

body a {
    color: inherit;
    text-decoration: none;
}

body h2, h3, h4, h5, h6 {
    font-family: $roboto;
    @include section-title;
}

body h5 {
    color: #000;
    font-size: .9rem;
    font-weight: bolder;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover {
    color: #000;
    text-decoration: underline $red-color;
}

.container-fluid {
    max-width: 1310px;
    background-color: #fff;
}

.block-title {
    @include section-title;

}

/* Mobile navbar */

.mobile-navbar .mobile-header {
    background: $red-color;
    height: 3rem;
}

.mobile-navbar .nw-logo {
    width: 132px;
    height: 20px;
}

.mobile-navbar .navbar-collapse {
    background: #fff;
    width: 220px;
}

.mobile-navbar .login-btn,
.mobile-navbar .navbar-toggler {
    color: #fff;
    opacity: 0.75;
    font-size: 1rem;
}

.mobile-navbar .subsc-btn {
    @include section-title;
    font-size: .6rem;
    background-color: #ffe400;
    height: 24px;
}

/* N in the Magazine */

.bottom {
    margin-top:5rem; // only while developing, don't forget to remove this later
}

.magazine .n-icon {
    display: block;
    width: 29px;
    height: 28px;
    background-image: url("https://g.newsweek.com/www/images/logo-n1.svg");
    background-color: $red-color;
    background-size: contain;
    margin-right: 8px;
}

.magazine .december {
    padding: .25rem .75rem;
    background-color: #fceaea;
    color: $red-color;
    font-size: .85rem;
}

.magazine .see-features {
    background-color: #f4f5f6;
}

.magazine .red-category {
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    background-color: $red-color;
    color: #fff;
}

.magazine .white-category {
    margin-right: 1rem;
    padding: 0 0.5rem;
    background-color: #fff;
    color: $red-color;
}

@import "../node_modules/bootstrap/scss/bootstrap";